/*Estilos Generales*/
html{
    font-family: 'Montserrat', sans-serif;
}
main{
    background-color: $color-principal;
    min-height: 600px;
}
h1{
    color: $color-terciario;
    text-align: map-get($layout-parameters, textalign-primario);
    font-size: 30px;
    padding: map-get($layout-parameters, padding-primario);
    font-family: 'Montserrat', sans-serif;
}
h2{ 
    color: $color-terciario;
    font-size: 25px;
    text-align: map-get($layout-parameters, textalign-primario);
    padding: map-get($layout-parameters, padding-primario);
    font-family: 'Montserrat', sans-serif;
}
.remarcar{
    color: $color-secundario;
    font-family: 'Montserrat', sans-serif;
}
.parrafo{
    color: $color-terciario;
    text-align: map-get($layout-parameters, textalign-primario);
    font-weight: 300;
    padding: 10px;
}
.titulo-bootstrap{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}